<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<!--<form th:action="@{/groups/create}" th:method="post" th:object="${group}">-->
<!--    <div class="form-group">-->
<!--        <label >Group Name</label>-->
<!--        <input type="text" class="form-control" th:field="*{name}"  name="name" placeholder="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label >Add a group member</label>-->
<!--        <input id="searchUsers" type="text" class="form-control" name="name" placeholder="">-->
<!--    </div>-->



<!--    <button type="submit" class="btn btn-primary">Submit Post</button>-->
<!--</form>-->
<div class="form-group">
    <label >Add a group member</label>
    <input id="searchUsers" type="text" class="form-control" name="name" placeholder="">
    <button type="submit" class="btn btn-primary">Submit Post</button>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script>

    (function($) {
        var request = $.ajax({
            'url': '/users.json'
        });
        request.done(function (ads) {
            var html = '';
            ads.forEach(function(ad) {
                html += '<div>';
                html += '<h1>' + ad.title + '</h1>';
                html += '<p>' + ad.description + '</p>';
                html += '<p>Published by ' + ad.owner.username + '</p>';
                html += '</div>';
            });
            $('#ads').html(html);
        });
    })(jQuery);
</script>
</body>
</html>