<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light">
        <img src="/imgs/tt_icon.png" class="logo" alt="logo">
        <a class="navbar-brand">Trippi Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/groups}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trip}">Trips</a>
                </li>
                <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
                    <li type="button" class="nav-item" data-toggle="modal" data-target="#myAct">
                        <a class="nav-link">Comments</a>
                    </li>
                </ul>
            </ul>


                <div class="modal fade" id="myAct" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div id="comments-header" class="modal-header" style="border-bottom: none">
                                <h4 class="modal-title" id="mySubModalLabel">Comments</h4>

                            </div>
                            <div class="modal-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: center">
                                        <li class="welcome-item">
                                            <a class="nav-link active" id="convo-tab" data-toggle="tab" href="#convo" role="tab" aria-controls="convo" aria-selected="true">Conversations</a>
                                        </li>
                                        <li class="welcome-item">
                                            <a class="nav-link" id="notif-tab" data-toggle="tab" href="#notif" role="tab" aria-controls="notif" aria-selected="false">Notifications</a>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content notif-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="convo" role="tabpanel" aria-labelledby="convo-tab">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Trip Conversation:</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae corporis culpa doloribus ea fugit illum impedit inventore magni minima modi molestias nulla numquam, obcaecati odit sequi ut veniam vero</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Group Conversation:</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam, architecto consequatur expedita facere fugiat id minus non perferendis provident quibusdam quisquam, voluptate voluptates! Autem cumque distinctio molestiae sed voluptate</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="notif" role="tabpanel" aria-labelledby="notif-tab">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <br><p>Notification 1</p>
                                                </div>
                                                <div class="col-md-10">
                                                    <br><p>Notification 2</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post" class="d-flex">
                    <button class="logout-button" type="submit">Logout</button>
                </form>
<!--                <form sec:authorize="isAnonymous()" action="/login" th:method="get" class="d-flex">-->
<!--                    <button class="log-button" type="submit">Login</button>-->
<!--                </form>-->
<!--                <form action="/register" th:method="get" class="d-flex">-->
<!--                    <button class="log-button" type="submit">Register</button>-->
<!--                </form>-->
            <span sec:authorize="isAnonymous()" class="navbar-sign-in">
                <a class="nav-link" th:href="@{/login}">Sign In</a>
            </span>
            <span sec:authorize="isAnonymous()" class="navbar-sign-up">
                <a class="nav-link" th:href="@{/register}">Sign Up</a>
            </span>
        </div>
    </nav>
</html>
