<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html id="nav-html" lang="en" xmlns:th="http://www.thymeleaf.org">
    <nav style="font-size: small; font-family: Arial Rounded MT Bold; margin-left: 100px; margin-right: 100px" th:fragment="navbar(friendRequests, unreadCommentTrips)" class="navbar navbar-expand-lg navbar-light scrolling-navbar">
        <a th:href="@{/}"><img src="/imgs/tt_icon.png" class="logo" alt="logo"></a>
        <a class="navbar-brand" th:href="@{/}">Trippi Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}"><i class="fa fa-home"></i>Home <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/groups}">Groups</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/trip/page/1}"><i class='fas fa-map-marked-alt'></i>Trips</a>
                </li>
                <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
                    <li type="button" class="nav-item" data-toggle="modal" data-target="#myAct" id="notificationsModalButton">
                        <a class="nav-link" style="position:relative">
                            <i class='fas fa-bell'></i>Notifications
                            <div style="height:15px;width:15px;position:absolute;top:-2px;right:-3px;border-radius:50%;background:#ff0000 " th:if="${unreadCommentTrips.size()>0 || friendRequests.size()>0}" id="modalNotificationIcon"></div>
                        </a>
                    </li>
                </ul>
            </ul>


                <div class="modal fade" id="myAct" role="dialog">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div id="comments-header" class="modal-header" style="border-bottom: none">
                                <h4 class="modal-title" id="mySubModalLabel">
                                    Notifications
                                </h4>

                            </div>
                            <div class="modal-body">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="justify-content: center">
                                        <li class="welcome-item">
                                            <a class="nav-link active" id="convo-tab" data-toggle="tab" href="#convo" role="tab" aria-controls="convo" aria-selected="true" style="position:relative">
                                                <div style="height:15px;width:15px;position:absolute;top:-2px;right:-3px;border-radius:50%;background:red " th:if="${unreadCommentTrips.size()>0}" id="commentNotificationIcon"></div>
                                                Conversations
                                            </a>
                                        </li>
                                        <li class="welcome-item">
                                            <a class="nav-link" id="notif-tab" data-toggle="tab" href="#notif" role="tab" aria-controls="notif" aria-selected="false" style="position:relative">
                                                <div style="height:15px;width:15px;position:absolute;top:-2px;right:-3px;border-radius:50%;background:red " th:if="${friendRequests.size()>0}" id="friendRequestsNotificationIcon"></div>
                                                Friend Requests
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content notif-tab" id="myTabContent">
                                        <div class="tab-pane fade show active" id="convo" role="tabpanel" aria-labelledby="convo-tab">
                                            <div class="row" th:each="trip: ${unreadCommentTrips}" style="max-height: 150px">
                                                <div class="tripIdHolder" style="display: none" th:text="${trip.getId()}"></div>
                                                <div class="col-md-3" >
                                                    <a th:href="${'/trip/'+trip.getId()}"><label th:text="${trip.getName()}"></label></a>
                                                </div>
                                                <div class="col-md-9" style="max-height: 150px;overflow-y: scroll;">
<!--                                                    <div th:each="comment:${trip.getComments()}">-->
<!--                                                        <div th:text="${comment.getComment_text()}"></div>-->
<!--                                                    </div>-->
                                                    <div th:each="comment : ${trip.getComments()}" class="tripComment" >
                                                        <div class="row no-gutters">
                                                            <div class="col-sm-2" >
                                                                <img th:src="${comment.getUser().getProfile_image()}" class="card-img-top h-100 commentProfileImage" alt="..." th:if="${comment.getUser().getProfile_image()!= null}" style="max-height:50px">
                                                                <img src="/imgs/default-profile-picture.png" class="card-img-top h-100" alt="..." th:if="${comment.getUser().getProfile_image()==null}">
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <div class="">
                                                                    <div class=""><strong th:text="${comment.getUser().getFirstName()+ ' '+ comment.getUser().getLastName()}"></strong></div>
                                                                    <div th:text="${comment.getComment_text()}"></div>
                                                                </div>
                                                                <div class="text-center" th:if="${comment.getReplies().size()>0}">Replies</div>
                                                                <div class="activityCommentRepliesDiv">
                                                                    <div th:each="reply:${comment.getReplies()}" class="activityCommentReplies row">
                                                                        <div class="col-sm-2">
                                                                            <img th:src="${reply.getUser().getProfile_image()}"
                                                                                 class="card-img-top h-100 replyProfileImage" alt="..."
                                                                                 th:if="${reply.getUser().getProfile_image()!= null}">
                                                                            <img src="/imgs/default-profile-picture.png" class="card-img-top h-100"
                                                                                 alt="..." th:if="${reply.getUser().getProfile_image()==null}">
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <div class=""><strong
                                                                                    th:text="${reply.getUser().getFirstName()+ ' '+ reply.getUser().getLastName()}"></strong>
                                                                            </div>
                                                                            <div th:text="${reply.getComment_text()}"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button data-toggle="modal" data-target="#modalPoll-1" th:class="${'activityCommentReplyButton '+ comment.getActivity().getPlaceId()}" th:if="${comment.getReplies().size()>0}">Reply</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="notif" role="tabpanel" aria-labelledby="notif-tab">
<!--                                            <div class="row">-->
<!--                                                <div class="col-md-10">-->
<!--                                                    <br><p>Notification 1</p>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-10">-->
<!--                                                    <br><p>Notification 2</p>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div id="friend-requests" th:if="${friendRequests.size()>0}">
                                                <h5>Friend Requests</h5>
                                                <div class="card" th:each="friend : ${friendRequests}" th:id="${'friendRequestCard'+friend.getId()}" >
                                                    <div class="card" style="max-width: 500px;">
                                                        <div class="row no-gutters">
                                                            <div class="col-sm-5" >
                                                                <img th:src="${friend.getUser().getProfile_image()}" class="card-img-top h-100" alt="..." th:if="${friend.getUser().getProfile_image()!= null}">
                                                                <img src="/imgs/default-profile-picture.png" class="card-img-top h-100" alt="..." th:if="${friend.getUser().getProfile_image()==null}">
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <div class="card-body">
                                                                    <h5 class="card-title" th:text="${friend.getUser().getFirstName()+ ' '+ friend.getUser().getLastName()}"></h5>
                                                                    <p class="card-text" th:text="${friend.getUser().getUsername()}"></p>
                                                                    <div class="friendRequestButtons">
                                                                        <button class="approveRequest btn btn-sm btn-success" th:id="${friend.getId()}" >Approve</button>
                                                                        <button class="rejectButton btn btn-sm btn-success" th:id="${friend.getId()}" >Reject</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm" data-dismiss="modal" id="closeModalButton">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                <form id="nav-form" sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post" class="d-flex">
                        <li class="nav-link" data-toggle="modal" data-target="#myPro">
                            <a class="nav-link" th:href="@{/users/profile}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                    <button class="logout-button" type="submit"> <i class="fa fa-sign-out"></i>Logout</button>
                </form>
<!--                <form sec:authorize="isAnonymous()" action="/login" th:method="get" class="d-flex">-->
<!--                    <button class="log-button" type="submit">Login</button>-->
<!--                </form>-->
<!--                <form action="/register" th:method="get" class="d-flex">-->
<!--                    <button class="log-button" type="submit">Register</button>-->
<!--                </form>-->
            <span sec:authorize="isAnonymous()" class="navbar-sign-in">
                <a class="nav-link" th:href="@{/login}"> <i class="fa fa-sign-in"></i>Sign In</a>
            </span>
            <span sec:authorize="isAnonymous()" class="navbar-sign-up">
                <a class="nav-link" th:href="@{/register}"> <i class="fa fa-fw fa-user"></i>Sign Up</a>
            </span>
        </div>
    </nav>
</html>
