<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header('Show User')">
</head>

<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div id="profileImage">
    <img th:src="${user.getProfile_image()}" th:if="${user.getProfile_image()}">
</div>
<h3 th:text="${user.getFirstName()+ ' '+ user.getLastName()}" class="text-center"></h3>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="trips-tab" data-toggle="tab" href="#trips" role="tab" aria-controls="trips" aria-selected="true">Your trips</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false">Group trips</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">Planning Trips</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="trips" role="tabpanel" aria-labelledby="trips-tab">
        <div id="mapContainer">
         <div id="map"></div>
        </div>
        <div th:each="trip : ${trips}" class="tripCard card">
                <div class="card-header">
                    <h5 th:text="${trip.getName()}" class="float-left"></h5>
                    <h5 th:text="${trip.getLocation()}" class="float-rigth"></h5>
                </div>
                <div class="card-body">
                    <div class="activityCard" th:each="activity: ${trip.getActivities()}">
                        <div class="activityName" th:text="${activity.getPlace()}"></div>
                        <img class="activityImage" th:src="${activity.getPhotoURL()}">
                    </div>
                </div>
        </div>
    </div>
    <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">...</div>
    <div class="tab-pane fade" id="planning" role="tabpanel" aria-labelledby="planning-tab">...</div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<script src="/js/mapDisplay.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCJoaNg_G-yrLYuvjp5SN2IIJkFa0jj5o&callback=initMap&libraries=places&v=weekly"
        async
></script>

<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>