#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 700px;
}

.form-inline{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.addressBar{
    width: 60%;
}
.form-control{
    width: 500px;
}
.mb-3{
    padding: 5px;
    margin-bottom: 0;
}

#clickedPlace{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100000;
}

#tripDate{
    position: absolute;
    top: 55px;
    right: 1px;
}

#groupName{
    position:absolute;
    top:55px;
    left: 1px;
}

.detailsButton{
    position: absolute;
    top: 5%;
    right: 1%;
}
