#forgot{
    background-image: url("../imgs/SAN083 - Road image.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: max-content;
    width: 100%;
    /*background-color: lightblue;*/
    font-family: "Arial Rounded MT Bold";
    font-size: small;
}
body {
    /*background-image: url("../imgs/Toddler-looking-out-from-SUV-during-road-trip.jpeg");*/
    background-attachment: fixed;
    background-size:cover ;
    height: max-content;
    background-position: center;
    position: relative;
}
form {
    padding: .5em;
}
.btn {

    padding: 8px;
    /*color: dodgerblue;*/
    border: 1px;
    border-color: lightgray;
}
fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    padding: 1em;
    margin: 1em;
    border: 0;
}
.form-group {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}
.btn-block {
    width: 100%;
}
html {

/*height: max-content;*/
    /*background-image: url('/static/imgs/tt_background_mod.jpg');*/
}
.navbar {
    font-family: "Arial Rounded MT Bold";
    margin-left: 100px;
    margin-right: 100px;
}
#email{
    margin-left:54px;
}