#mapContainerProfile{
    height: 450px;
}

.activityCard{
    margin: 10px;
}

#trips .card-body{
    display: flex;
    white-space: nowrap;
    overflow: auto;

}

.activityImage{
    height:150px;
    object-fit: scale-down;

}