body, html {
    height: 100%;
    width: 100%;
    /*background-color: lightblue;*/
    font-family: "Arial Rounded MT Bold";
    font-size: small;
    /*background-image: url('/static/imgs/tt_background_mod.jpg');*/
}

body {
    /*background-image: url("../imgs/Toddler-looking-out-from-SUV-during-road-trip.jpeg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}
.now{
    background-color: #ffffff;


    width: 500px;
    border-radius: 5%;
}
form {
    padding: .5em;
}
.logout-button {
    padding: 0;
    border: none;
    background: none;
    color: dodgerblue;
}
.logout-button:hover {
    color: black;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 1em;
    margin: 1em;
    border: 0;
}
#fieldset-enter-group-info {
    -webkit-box-shadow: 7px 7px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 1em;
    margin: 1em;
    border: 0;
}
#fieldset-added-group-members {
    -webkit-box-shadow: -7px 7px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 1em;
    margin: 1em;
    border: 0;
}
.width-80 {
    width: 80%;
    margin: auto;
    max-width: 500px;
}

.form-group {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.btn-block {
    width: 100%;
}

.btn {

    padding: 8px;
    /*color: dodgerblue;*/
    border: 1px;
    border-color: lightgray;
}

.navbar {
    font-family: "Arial Rounded MT Bold";
    margin-left: 100px;
    margin-right: 100px;
}

#comments-header {
    justify-content: center;
}

.log-button {
    padding: 0;
    border: none;
    background: none;
}
.child-group {
    float: left;
    width: 50%;
}

img {
    max-height: 200px;
    max-width: 200px;
    margin-right: 10px;
}
#create-button {
    margin: auto;
    width: 50%;
    text-align: center;
}

/*#profile-page-body {*/
/*    background-image: url("../imgs/tt_profile_background_2.jpg");*/
/*}*/

#register-body {
    background-image: url("../imgs/tt_background_mod.jpg");
    line-height: 0;
}
#login-body {
    background-image: url("../imgs/tt_background_login.jpg");
}
#create-group-body,#edit-profile-body,#edit-trip-body {
    background: linear-gradient(white, transparent, transparent, transparent, transparent, transparent, transparent), url("../imgs/tt_family_pic.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
}
#create-trip-body {
    /*padding-top: 20px;*/
    /*height: 20px;*/
    background: linear-gradient(white, transparent, transparent, transparent, transparent, transparent, transparent), url("../imgs/tt_sit_on_a_plane.jpg") no-repeat center;
    background-size: cover;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
    line-height: 1.5em;
}

.col-md-8{
  align-self: start;
    margin-bottom: 20px;
}
#home-tab{
    color: #666666;
}
#profile-tab{
    color: #666666;
}
.footer-content{
    background-color: black;
    opacity: 60%;


}
.footer-title{
color: #d7d7d7;
}
.footer-image{
color: #d7d7d7;

}
.menu-items{
    padding: 0;

}
.social-media{


}
.footer-copyright{
font-size: smaller;
    list-style-type: none;
    color: #d7d7d7;

}

.fa-facebook{
    height: 6px;
    width: 6px;
}

#map img{
    max-height: none;
    max-width: none;
    margin-right: auto;
}
#createTripMapContainer{
    /*height: 60%;*/
    height: 461px;
    float: left;
    border-radius: 10px;
    opacity: 0.99;
    padding: 1em;
    margin: 1em;
    border: 0;
}
#createTripMapContainer #map{
    height: 100%;
}

#createTripFormContainer{
    float:left;
}
.image{
    height: 200px;
    width: 200px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 5%;
}
.imageProfile{
   height: 200px;
    width: 200px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 5%;
}
.imageP,.imgPreview{
    display: flex;
    justify-content: center;
    border-radius: 5%;

}
.imagebutton,.group-button{
    display: flex;
    justify-content: center;

}
#addPicture{
    background: none;
    border: none;
    color:dodgerblue;
}
/*#edit-group{*/
/*    background: none;*/
/*    border: none;*/
/*    color:dodgerblue;*/
/*}*/
/*.container{*/
/*    margin-top: 70px;*/
/*}*/
/*#edit-profile-body{*/
/*    margin-top: 40px;*/
/*}*/
/*#activities_google-body {*/
/*    background: linear-gradient(white, transparent, transparent, transparent, transparent, transparent, transparent), no-repeat center;*/
/*    background-size: cover;*/
/*    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);*/
/*    line-height: 1.5em;*/
/*}*/

/*#addPicture{*/
/*    background-color: dodgerblue;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    border: 1px;*/
/*    border-color: lightgray;*/
/*    border-radius: 5%;*/
/*}*/
/*#sumbitbutton{*/
/*    background-color: dodgerblue;*/
/*    padding: 8px;*/
/*    color: white;*/
/*    border: 1px;*/
/*    border-color: lightgray;*/
/*    border-radius: 5%;*/
/*}*/

#registerPageInputs .form-group{
    margin-top: 1em;
    margin-bottom: 1em;
}
.delete-trip{
    border: none;
    background: red;
    color: white;
}
#edit-group-body {
    background-image: url("../imgs/tt_two_women.jpg");
}
#edit-trip-body-2 {
    background-image: url("../imgs/tt_group_pic_3.jpg");
}