body, html {
    height: 100%;
    width: 100%;
    /*background-color: lightblue;*/
    font-family: "Arial Rounded MT Bold";
    font-size: small;
    /*background-image: url('/static/imgs/tt_background_mod.jpg');*/
}

body {
    /*background-image: url("../imgs/tt_background_mod.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

form {
    padding: .5em;
}
.logout-button {
    padding: 0;
    border: none;
    background: none;
    color: dodgerblue;
}
.logout-button:hover {
    color: black;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    padding: 1em;
    margin: 1em;
    border: 0;
}

.width-80 {
    width: 80%;
    margin: auto;
    max-width: 500px;
}

.form-group {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
}

.btn-block {
    width: 100%;
}

.btn {
    background-color: lightskyblue;
    padding: 8px;
    color: white;
    border: 1px;
    border-color: lightgray;
}

.navbar {
    font-family: "Arial Rounded MT Bold";
    margin-left: 100px;
    margin-right: 100px;
}

.log-button {
    padding: 0;
    border: none;
    background: none;
}

img {
    max-height: 30px;
    max-width: 30px;
    margin-right: 10px;
}
#create-button {
    margin: auto;
    width: 50%;
    text-align: center;
}

#register-body {
    background-image: url("../imgs/tt_background_mod.jpg");
}
#login-body {
    background-image: url("../imgs/tt_background_login.jpg");
}