html,
body,
header,
#intro {
    height: 100%;
}
/*Adding custom style*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
footer{
    /*background-color: black;*/
    /*color: white;*/
    opacity: .7;
    background: linear-gradient(transparent, lightgrey);
    background-size: cover;
    line-height: 1.5em;
}
#edit-p{

    color: dodgerblue;
}
/*.footer-link {*/
/*    color: white;*/
/*}*/
/*nav{*/
/*    background-color: white;*/
/*    !*opacity: 10%;*!*/
/*    color: black;*/
/*}*/
button{
    background-color: #bbbbbb;
}
.indexImage{
    height: 200px;
    width: 350px;
}
/*End custom style*/
#intro {
    background: url("https://cdn.pixabay.com/photo/2018/12/04/22/38/road-3856796__340.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    background-color: black;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
.userPage-image{
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 3%;
    object-fit: cover;
}

.userPage-TripImage{
    width: 180px;
    height: 130px;
    margin: 1px;
    border-radius: 3%;
    object-fit: cover;
}
.overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: inherit;
}
.required:after {
    content:" *";
    color: red;
}
.logout-button {
    padding: 0;
    border: none;
    background: none;
    color: dodgerblue;
}
.logout-button:hover {
    color: black;
}
.trip-image{
    width: 250px;
    height: 170px;
    margin: 1px;
    border-radius: 2%;
    object-fit: cover;
}
.group-image{
    width: 120px;
    height: 100px;
    margin: 1px;
    border-radius: 2px;
    object-fit: cover;
}
.friend-image{
    width: 120px;
    height: 100px;
    padding: 1px;
    border-radius: 2px;
    object-fit: cover;
}
/*nav {*/
/*    font-family: "Arial Rounded MT Bold";*/
/*    margin-left: 100px;*/
/*    margin-right: 100px;*/
/*    font-size: small;*/
/*}*/