<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bc3d7ba1dd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&family=Raleway:wght@400;400&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/trial.css">
    <link rel="stylesheet" href="/css/testPhoebe.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar( ${friendRequests}, ${unreadCommentTrips} )"></nav>

    <!--Mask-->
    <div id="intro" class="view ">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10 center" style="margin-top: 30%; color: white">
                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Trippi Travel</h2>
                        <!-- Divider -->
<!--                        <hr class="hr-light">-->
                        <!-- Description -->
                        <h4 class="white-text my-4">
                            Trusted Travel Planner. Bring the fun to your trip with Trippi Travel.
                        </h4>
                        <div class="row">
                            <div class="col">
                                <form th:action="${'/trip/create'}" method="GET" class="button side-item">
                                    <button type="submit" class="btn btn-outline-white" style="border-radius: 5%; border: none; background-color: dodgerblue; color: white">Plan a Trip!</button>
                                </form>
                            </div>
                            <div class="col">
                                <form th:action="${'/groups/create'}" method="GET" class="button side-item">

                                    <button type="submit" class="btn btn-outline-white" style="border-radius: 5%; border: none; background-color: dodgerblue; color: white">Create Group</button>

                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->
</header>
<!--Main Navigation-->
<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Best Features-->
        <section id="best-features" class="text-center">
            <!-- Heading -->

            <h2 class="mb-5 font-weight-bold" style="margin-top: 10%;">Travel Planning Simplified</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">
                <!--Grid column-->
                <div class="col-md-8">
                    <!-- Description -->
                    <p class="grey-text">Take the hustle away from planning group trips using Trippi Travel.
                        Trippi Travel brings you and your friends together, by providing space to
                        plan and share your travel experiences. Travel should be fun, so <a th:href="${'/trip/create'}" style="color: black; font-weight: bold; font-style: oblique">lets plan a trip!!</a>
                    </p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text" style="color: #C94C4C"></i>
                    <h4 class="my-4 font-weight-bold">Experience</h4>
                    <p class="grey-text">Create and share all the fun memories from you trip with your friends.
                        Let your friends vicariously live through you.
                        </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fas fa-globe-americas fa-4x orange-text" style="color: #C94C4C"></i>
                    <h4 class="my-4 font-weight-bold">Travel</h4>
                    <p class="grey-text">See the world, visualize and plan your trip using the map on the app.
                        Easy location and search brings places to you so you can go to them!
                        </p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-bicycle fa-4x orange-text" style="color: #C94C4C"></i>
                    <h4 class="my-4 font-weight-bold">Adventure</h4>
                    <p class="grey-text">Adventure awaits and it's only a click away! Get excited about you next adventure
                        by planning and sharing your ideas with <a th:href="${'/groups/create'}" style="color: black; font-style: oblique; font-weight: bold">your friends.</a>
                        </p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!--Section: Best Features-->
        <hr class="my-5">
        <!--Section: Examples-->
        <section id="examples" class="text-center">
            <!-- Heading -->
            <h2 sec:authorize="isAnonymous()" class="mb-5 font-weight-bold">Featured User Trips</h2>
            <h2 sec:authorize="isAuthenticated()" class="mb-5 font-weight-bold">Your Latest Trips</h2>
            <!--Grid row-->
            <div>
                <!--Grid column-->
                <div sec:authorize="isAuthenticated()" class="homeTripCard" >
                    <div th:each="trips : ${userTripList}" style="display: flex; flex-direction: row;" class="index-trips">
                        <div th:each="trip : ${trips}" >
                            <div class="view overlay z-depth-1-half">
                                <img class=" indexImage" th:src="${trip.getTrip_profile_image()}" alt="..." style="object-fit: cover; width: 95%">
                                <div class="mask rgba-white-slight"></div>
                            </div>
                            <a th:href="${'/trip/'+trip.id}"><h4 th:text="${trip.name}" class="my-4 font-weight-bold"style="font-weight: bold; color: #0437F2"></h4></a>
                            <p th:text="${trip.description}"></p>
                        </div>
                    </div>
                </div>

                <div  sec:authorize="isAnonymous()" class="homeTripCard">
                    <div th:each="trips : ${generalTripList}" class="index-trips" >
                        <div th:each="trip : ${trips}" style="padding-right: 5px;">
                            <div class="view overlay z-depth-1-half" >
                                <img class=" indexImage" th:src="${trip.getTrip_profile_image()}" alt="..." style="object-fit: cover; width: 95%">
                                <div class="mask rgba-white-slight"></div>
                            </div>
                            <a th:href="${'/trip/'+trip.id}"><h4 th:text="${trip.name}" class="my-4 font-weight-bold"style="font-weight: bold; color: #0437F2"></h4></a>
                            <p th:text="${trip.description}"></p>
                        </div>
                    </div>
                </div>

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Examples-->
        <hr class="my-5">
        <!--Section: Gallery-->
        <div>
            <section id="gallery">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center">From the Creators of Trippi Travel</h2>
                <!--Grid row-->
                <div class="row" style="margin-left: 100px; width: 100%">
                    <!--Grid column-->
                    <div class="col-md-4 mb-4" style="margin-right: 20px">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner z-depth-1-half" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block  " src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                         alt="First slide" style="width: 320px; height: 270px">
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block " src="/imgs/JamesMcBridePhoto.jpg"
                                         alt="Second slide" style="width: 320px; height: 270px">
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block  " src="https://i.ibb.co/jWGc0m0/IMG-3712.jpg"
                                         alt="Third slide" style="width: 320px; height: 270px">
                                </div>
                                <!--/Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block " src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                         alt="Fourth slide" style="width: 320px; height: 270px">
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <!--Excerpt-->
<!--                        <a href="" class="teal-text" style="color: #c23232">-->
<!--                            <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>-->
<!--                        </a>-->
                        <h4 class="mb-3"><strong>Passion that creates change</strong></h4>
                        <p>Every creation starts with a idea and desire to bring that idea to life. This stands true for
                            Trippi Travel. Four developers coming together, combining skill, passion and relentless
                            effort to influence how group travel is done.
                            </p>

<!--                        <p>by <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>-->
                        <a class="btn btn-md" th:href="${'/team'}" style="border-radius: 5%; border: none; background-color: dodgerblue; color: white">Meet the Team</a>

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Gallery-->
        </div>
        <div sec:authorize="isAuthenticated()">
<!--            <section id="gallery">-->
<!--                &lt;!&ndash; Heading &ndash;&gt;-->
<!--                <h2 class="mb-5 font-weight-bold text-center">Something Else here</h2>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-6 mb-4">-->
<!--                        &lt;!&ndash;Carousel Wrapper&ndash;&gt;-->
<!--                        <div id="carousel-example-1z" class="carousel slide carousel-fade carousel-fade" data-ride="carousel">-->
<!--                            &lt;!&ndash;Indicators&ndash;&gt;-->
<!--                            <ol class="carousel-indicators">-->
<!--                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>-->
<!--                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>-->
<!--                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>-->
<!--                            </ol>-->
<!--                            &lt;!&ndash;/.Indicators&ndash;&gt;-->
<!--                            &lt;!&ndash;Slides&ndash;&gt;-->
<!--                            <div class="carousel-inner z-depth-1-half" role="listbox">-->
<!--                                &lt;!&ndash;First slide&ndash;&gt;-->
<!--                                <div class="carousel-item active">-->
<!--                                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/03/12/20/07/maldives-3220702__340.jpg"-->
<!--                                         alt="First slide">-->
<!--                                </div>-->
<!--                                &lt;!&ndash;/First slide&ndash;&gt;-->
<!--                                &lt;!&ndash;Second slide&ndash;&gt;-->
<!--                                <div class="carousel-item">-->
<!--                                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2016/02/19/11/36/canal-1209808__340.jpg"-->
<!--                                         alt="Second slide">-->
<!--                                </div>-->
<!--                                &lt;!&ndash;/Second slide&ndash;&gt;-->
<!--                                &lt;!&ndash;Third slide&ndash;&gt;-->
<!--                                <div class="carousel-item">-->
<!--                                    <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2018/04/25/09/26/eiffel-tower-3349075__340.jpg"-->
<!--                                         alt="Third slide">-->
<!--                                </div>-->
<!--                                &lt;!&ndash;/Third slide&ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash;/.Slides&ndash;&gt;-->
<!--                            &lt;!&ndash;Controls&ndash;&gt;-->
<!--                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">-->
<!--                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Previous</span>-->
<!--                            </a>-->
<!--                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">-->
<!--                                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                <span class="sr-only">Next</span>-->
<!--                            </a>-->
<!--                            &lt;!&ndash;/.Controls&ndash;&gt;-->
<!--                        </div>-->
<!--                        &lt;!&ndash;/.Carousel Wrapper&ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-6">-->
<!--                        &lt;!&ndash;Excerpt&ndash;&gt;-->
<!--                        <a href="" class="teal-text" style="color: #c23232">-->
<!--                            <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>-->
<!--                        </a>-->
<!--                        <h4 class="mb-3"><strong>This is title of the news</strong></h4>-->
<!--                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id-->
<!--                            quod maxime-->
<!--                            placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut-->
<!--                            officiis-->
<!--                            debitis aut rerum.</p>-->

<!--                        <p>by <a><strong>Jessica Clark</strong></a>, 26/08/2016</p>-->
<!--                        <a class="btn btn-md" style="background-color:#c23232;  color:white">Read more</a>-->

<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </section>-->
            <!--Section: Gallery-->
        </div>



        <hr class="my-5">


    </div>
</main>
<!--Main layout-->
<div th:replace="fragments/footer2 :: footer"></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/notifications.js" th:inline="javascript"></script>
<script src="js/indexbrokenImages.js"></script>
</body>
</html>