<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${'index-page'})"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="row" id="introDiv">
    <div class="col-4" id="intro">
<!--        <h3>Trippy Travel</h3>-->
        <h6>Collaborate with your friends to plan your group's next big adventure!</h6>

            <a class="btn btn-primary btn-sm" th:href="@{/trip/create}">Plan A Trip!<span class="sr-only">(current)</span></a>
            <a class="btn btn-primary btn-sm" th:href="@{/groups/create}">Create A Group!<span class="sr-only">(current)</span></a>

<!--        <button type="button" class="btn btn-primary btn-lg" th:href="@{/trip/create}">Plan a Trip</button>-->
<!--        <button type="button" class="btn btn-secondary btn-lg" th:href="@{/groups/create}">Create a Group</button>-->
    </div>
    <div class="col-8" id="homeLogo">
        <img src="img/plane_globe.png">
    </div>
</div>
<!--<h3 class="text-center m-4" th:if="${trips.size()>0}">-->
<!--    Dive back into your active trips!-->
<!--</h3>-->
<!--<div id="activeTrips" th:each="trip: ${trips}">-->
<!--    <div class="activeTrip" th:each="activity: ${trip.getActivities}:">-->

<!--    </div>-->
<!--</div>-->

<!--<h3 class="text-center m-4" th:if="${trips.size()>0}">-->
<!--    Explore your friends latest trips-->
<!--    <br>-->
<!--    <button type="button" class="btn btn-primary btn-lg text-center m-3">Explore</button>-->
<!--</h3>-->
<!--<div id="friendsTrips" th:each="trip: ${trips}">-->
<!--    <div class="activeTrip" th:each="activity: ${trip.getActivities}:">-->

<!--    </div>-->
<!--</div>-->






</body>
</html>