<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<main class="container">
    <div class="row">
        <h4 class="page-title">Create Trip</h4>
        <div class="col l8 offset-l2">
            <form class="col s12" th:action="@{/trip/create}" th:method="POST" th:object="${trip}">


                <div class="input-field col s12">
                    <label >Group</label>
                    <select class="form-control" th:field="*{group}">
                        <option th:each="group: ${groups}" th:text="${group.getName()}" th:value="${group.getId()}"></option>

                    </select>

                </div>

                <div class="input-field col s12">
                    <label >location</label>
                    <input  type="text" th:field="*{location}" />

                </div>

                <div class="input-field col s12">
                    <label >name</label>
                    <input type="text"  th:field="*{name}" />

                </div>

                <div class="input-field col s12">
                    <label >description</label>
                    <input type="text"  th:field="*{description}" />

                </div>

                <div class="input-field col s12">
                    <label >Trip status</label>
                    <select class="form-control" th:field="*{status}">
                        <option value="future">Future</option>
                        <option value="past">past</option>

                    </select>

                </div>
                <div class="input-field col s12">
                    <label >Start date</label>
                    <input type="date"  th:field="*{startDate}" />

                </div>
                <div class="input-field col s12">
                    <label >End Date</label>
                    <input type="date"  th:field="*{endDate}" />

                </div>

                <input class="btn" type="submit" />
            </form>
        </div>
    </div>
</main>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
const client = filestack.init(YOUR_API_KEY);
client.picker().open();
</body>
</html>