<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header(${'trips-index-page'})"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div sec:authorize="isAuthenticated()">

    <h1>Welcome</h1>

    <img src=" https://cdn.filestackcontent.com/7o0pCn7cRy2y1Ijh5xOt" alt="...">


    <h2 th:text="${#authentication.principal.username}"></h2>


</div>


<br>
<br>

<main class="container ">
    <h1>Latest Trips</h1>
    <div class="d-flex flex-wrap justify-content-around">
        <div class="row" >

            <div class="card" th:each="trip: ${trips}" style="width: 18rem; margin-bottom: 10px ">
<!--cant get image to show -->
<!--                <img th:src="${tripss.getImages().get(0).getImage_url()}" class="card-img-top" alt="...">-->
                <div class="card-body" >




                    <a th:href="${'/trip/'+trip.getId()}"><h1 th:text="${trip.name}" class="card-title"></h1></a>
                    <p th:text="${trip.description}" class="card-text"></p>
                    <p th:text="${trip.location}" class="card-text"></p>

<!--                    figure out how to target the group name -->
<!--                    <p th:text="${trip.group.name}" class="card-text"></p>-->
                    <p th:text="${trip.startDate}" class="card-text"></p>
                    <p th:text="${trip.endDate}" class="card-text"></p>
                    <p th:text="${trip.status}" class="card-text"></p>


                </div>
            </div>
        </div>

    </div>
</main>

</body>
</html>