


<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Individual Trip</title>
</head>
<body>
<h6>View individual Trip</h6>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <main class="container">
            <!--    <div class="post" th:each="image:${post.getImages()}">-->


            <!--        <img th:src="${post.getImages().get(0)}" class="card-img-top"  alt="..."/>-->
<img src=" https://cdn.filestackcontent.com/7o0pCn7cRy2y1Ijh5xOt" alt="...">
            <h1 th:text="${trips.name}" class="card-title"></h1>
            <p th:text="${trips.description}" class="card-text"></p>
            <p th:text="${trips.location}" class="card-text"></p>
            <p th:text="${trips.group.getName()}" class="card-text"></p>
            <p th:text="${trips.status}" class="card-text"></p>
            <p th:text="${trips.startDate}" class="card-text"></p>
            <p th:text="${trips.endDate}" class="card-text"></p>

            <!--    </div>-->

            <form th:action="${'/trip/'+ trips.id +'/delete'}" method="POST">
                <button type="submit" id="delete" >delete</button>


            </form>

        </main>
    </div>
</div>
    <div th:replace="fragments/activity :: mainAct"></div>
</body>
</html>