<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/testPhoebe.css">
    <title>Individual Trip</title>
    <link rel="stylesheet" href="/css/activities.css">
    <link rel="stylesheet" href="/css/testPhoebe.css">
    <link rel="stylesheet" href="/css/trial.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar( ${friendRequests}, ${unreadCommentTrips} )"></nav>
<div class="container-fluid" style="margin-top: 70px">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#" >Trip Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/trip/'+trips.getId()}+'/activities'">Add activities</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
<!--            <a th:href="${'/trip/'+trips.getId()}" class="btn btn-primary"><div th:text="${trips.getName()}"></div></a>-->
            <div id="tripDate" th:text="${trips.getStartDate().toGMTString().substring(0,11)+ ' - '+trips.getEndDate().toGMTString().substring(0,11)}"></div>
            <a th:href="${'/groups/'+trips.getGroup().getId()}" class="btn btn-primary" id="groupName"><div  th:text="${trips.getGroup().getName()}"></div></a>
            <p class="card-text" th:text="${trips.getDescription()}"></p>
            <div id="tripLocation" th:text="${trips.getLocation()}"></div>

        </div>
    </div>

</div>
<div class="row" id="tripContainer">
<div class="card col-4" style="width: 18rem;">
    <div class="card-body">
        <main class="container" id="tripProfileInfo">
            <!--    <div class="post" th:each="image:${post.getImages()}">-->

            <!--        <img th:src="${post.getImages().get(0)}" class="card-img-top"  alt="..."/>-->
<!--            <img th:src="${trips.getImages().get(0).getImage_url()}" id="" class="img-thumbnail" alt="...">-->
            <!-- Button trigger modal -->
            <img th:src="${trips.getImages().get(0).getImage_url()}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="..." th:if="${trips.getImages().size()>0}">

           
                    <h1 th:text="${trips.name}" class="card-title"></h1>
                    <!--    </div>-->




            <div class="row">
                <div class="col">
                    <form th:action="${'/trip/'+ trips.id +'/delete'}" method="POST">
                        <button type="submit" id="delete" >Delete Trip</button>
                    </form>
                </div>
                <div class="col">
                <form class="col s12"  th:action="${'/trip/'+trips.getId()}" th:method="POST" id="tripImageForm" >

                <input type="hidden" id="image"  name="image_url">
                <button id="addPicture">addPicture</button>
<!--                <input class="btn" type="submit" />-->
                </form>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div id="comments">
                    <div th:each="comment : ${trips.getComments()}" >
                        <div class="row no-gutters">
                            <div class="col-sm-2" >
                                <img th:src="${comment.getUser().getProfile_image()}" class="card-img-top h-100" alt="..." th:if="${comment.getUser().getProfile_image()!= null}">
                                <img src="/imgs/default-profile-picture.png" class="card-img-top h-100" alt="..." th:if="${comment.getUser().getProfile_image()==null}">
                            </div>
                            <div class="col-sm-10">
                                <div class="">
                                    <div class=""><strong th:text="${comment.getUser().getFirstName()+ ' '+ comment.getUser().getLastName()}"></strong></div>
                                    <div th:text="${comment.getComment_text()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <br>
                    <br>
                    <br>
                    <br>
                    <i class='far fa-comment ' style='font-size:36px' id="formButton"></i>
                    <form th:action="${'/trip/'+ trips.id +'/comment'}" method="post" id="commentForm" style="display: none">
                        <textarea name="comment" placeholder="Enter comment here"></textarea>
                        <button type="submit" id="comment">Submit</button>

                    </form>
                    <br>
                </div>


            </div>
        </main>
        </div>
    </div>
    <div class="col-8" id="mapContainer">
        <div id="map" >

        </div>
        <div id="activityList">

        </div>
        <div class="card activity-card">
            <div id="activity-pics">

<!--                <div th:each="activity : ${trips.getActivities()}" class="activityImageDiv" th:id = "${activity.getPlace()}">-->
<!--                    <div th:each="userImage : ${activity.getImages()}" th:class="${'imageDiv ' + activity.getPlace()}">-->
<!--                        <img th:src="${userImage.getImage_url()}"  class="viewAll myImg"  onclick="image(event)" data-bs-toggle="modal" data-bs-target="#exampleModal" th:alt="${userImage.getDescription()}">-->

<!--                <div class="activityImageDiv">-->
                    <div th:each="userImage : ${trips.getImages()}" th:class="imageDiv">
                        <img th:src="${userImage.getImage_url()}"  class="viewAll myImg" onclick="image(event)" data-bs-toggle="modal" data-bs-target="#exampleModal" th:alt="${userImage.getDescription()}" th:if="${userImage.getActivity()==null}">
                        <img th:src="${userImage.getImage_url()}" th:id="${userImage.getActivity().getPlace()}"  class="viewAll myImg" onclick="image(event)" data-bs-toggle="modal" data-bs-target="#exampleModal" th:alt="${userImage.getDescription()}" th:if="${userImage.getActivity()!=null}">

                    </div>
<!--                </div>-->
<!--                <div th:each="activity : ${trips.getActivities()}" class="activityImageDiv" th:id = "${activity.getPlace()}">-->
<!--                    <div th:each="userImage : ${activity.getImages()}" th:class="${'imageDiv ' + activity.getPlace()}">-->
<!--                        <img th:src="${userImage.getImage_url()}"  class="viewAll myImg" onclick="image(event)" data-bs-toggle="modal" data-bs-target="#exampleModal" th:alt="${userImage.getDescription()}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <!--    Bottom modal-->
        <div id="myModal" class="modal" >
            <span class="close" style="position: fixed">&times;</span>
            <div th:each="activity : ${trips.getActivities()}">
                <div th:each="userImage : ${activity.getImages()}">
                    <img class="modal-content" id="img01"  th:src="${userImage.getImage_url()}" th:alt="${userImage.getDescription()}">
                    <p th:text="${userImage.getDescription()}" class="text-center" style="color: white"></p>
                </div>
            </div>
        </div>
    </div>




<div th:replace="fragments/footer2 :: footer"></div>
</div>
<!--    <div th:replace="fragments/activity :: mainAct"></div>-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src ="/keys.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<script src="/js/trip_profile.js"></script>
<!--<script src="/js/fileStack.js"></script>-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCJoaNg_G-yrLYuvjp5SN2IIJkFa0jj5o&callback=initMap&libraries=places&v=weekly"
        async
></script>
<script src ="/js/alternateModal.js"></script>


<!--script for comment toggle-->
<script>
    $(document).ready(function() {
        $("#formButton").click(function() {
            $("#commentForm").toggle();
        });

        $(".replyButton").click(function() {
            // $(this)('.replyForm').toggle();
            $(".replyForm").toggle();
        });

        // $(".replyButton").click( function(e) {
        //     $(this).children(".replyButton").toggleClass("replyForm");
        // })
        //     .children(".replyButton").click(function(e) {
        //     e.stopPropagation();
        // });
    });

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
